<div
  class="modal fade bs-example-modal-lg"
  tabindex="-1"
  role="dialog"
  id="FileUploadModal"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <form method="POST"
                class="dropzone"
                id="dropzoneFileDrop"
                action="{% url 'files_uploads:file-list' %}"
                enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="fallback">
              <input name="file" type="file" />
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

